---
layout: default
title: "Maison Marguery - Boucherie Granville"
---
<div class="container-flex">
  <div class="bghome">
    {% include navbar.html %}

    {% include hero.html %}

  </div>
</div>
<div class="container">

  <div class="row p-4"></div>

  <div class="row">
    <div class="col-xs-12 col-md-6 px-5">
      <h2 class="pb-2 titlearg">
        <div class="hr2"></div> Bienvenue à la Maison Marguery
      </h2>
      <p class="pl-2 parg">Envie de partager une entrecôte en famille, déguster un plat préparé sur l‘heure du midi,
        besoin d‘un conseil sur la sélection d‘une viande à mijoter, c‘est avec un grand plaisir et de la gourmandise
        que nous mettons nos 60 ans de savoir-faire au service de vos papilles!</p>
    </div>
    <div class="col-xs-12 col-md-6 d-flex justify-content-center align-items-center">
      <img src="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/margueryold.png" class="imgarg shadow", style="width:400", alt="">
    </div>
  </div>

  <div class="row p-4"></div>

  <div class="row">
    <div class="col-xs-12 col-md-6 d-flex justify-content-center align-items-center">
      <img src="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/tools.jpg" class="imgarg shadow"
        style="width:400" alt="">
    </div>
    <div class="col-xs-12 order-first col-md-6 px-5 order-md-last ">
      <h2 class="pb-2 titlearg">
        <div class="hr2"></div> Des produits locaux de qualité
      </h2>
      <p class="pl-2 parg">Nous vous proposons des viandes de qualité, de la génisse limousine, une viande finement
        persillée, réputée pour sa tendreté. <br>
        <br>Du veau nourrit au lait doux, du porc fermier élevé à la farine d'orge, de l‘agneau de pays et de la
        volaille Label Rouge. <br><br>Les plats préparés et les desserts sont faits maisons
      </p>
    </div>
  </div>

  <div class="row p-4"></div>

  <div class="row">
    <div class="col-xs-12 col-md-6 px-5">
      <h2 class="pb-2 titlearg">
        <div class="hr2"></div> Des produits primés
      </h2>
      <p class="pl-2 parg"> Le pâté de campagne, la Terrine de canard, les rillettes de porc
        et les tripes ont remporté des prix d’honneur et des Grand Prix Nationaux.<br>
        <br> Des spécialités locales et régionales comme l’oursin granvillais et les volailles de Cartigny.
    </div>
    <div class="col-xs-12 col-md-6 d-flex justify-content-center align-items-center">
      <img src="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/prix.jpg" class="imgarg shadow"
        style="width:400" alt="">

    </div>
  </div>

  <div class="row p-4"></div>

  <div class="row">

    <div class="col-xs-12 col-md-6 d-flex justify-content-center align-items-center">
      <img src="https://res.cloudinary.com/dcsdo2rdb/image/upload/v1595413271/davidstephanieo.jpg" class="imgarg filterbw shadow"
        style="width:400" alt="">
    </div>
    <div class="col-xs-12 order-first col-md-6 px-5 order-md-last ">
      <h2 class="pb-2 titlearg">
        <div class="hr2"></div> Tradition et modernité
      </h2>
      <p class="pl-2 parg">Nous sommes à votre écoute et nous évoluons avec les nouveaux moyens de consommation en vous
        proposant nos produits en magasin et sur internet.
        <br>
        <br> Des livraisons sur Granville et à l'archipel de Chausey vous sont proposées.
        <br>
        <!-- <br> Grâce au click & collect, vous réservez votre commande ou votre plat préparé du midi et vous réglez en magasin. -->
      </p>
    </div>
  </div>


  <div class="row p-4"></div>

  <div class="row">
    <div class="col-lg-4 px-5">
      <h2 class="titlearg pb-2">
        <div class="hr2"></div> Accès et horaires
      </h2>
      <p class="pl-2 parg">120 RUE COURAYE <br> 50400 Granville </p>
      <p class="parg">30 mins de stationnement gratuit </p>
      <p class="parg">Parking de la Poste à 200m</p>
      <br>
      <p class="parg">Lun. 7h30 - 13h / 15h - 19h30 </p>
      <p class="parg">Mar. 7h30 - 13h / 15h - 19h30 </p>
      <p class="parg">Mer. 7h30 - 13h </p>
      <p class="parg">Jeu. 7h30 - 13h / 15h - 19h30 </p>
      <p class="parg">Ven. 7h30 - 13h / 15h - 19h30 </p>
      <p class="parg">Sam. 7h30 - 13h / 15h - 19h30 </p>
      <!--  <p><br> infos sur place de parking à proximité</p> -->
    </div>

    <div class="col-lg-4 p-1 d-flex justify-content-center" style="width: 100%; height: 450px;">

      <div id="map">

      </div>

      <!-- <img class="shadow" src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-1.5925,48.8379,13.15,0/300x500?access_token=pk.eyJ1Ijoic2Vic3dhbiIsImEiOiJjazlhY2ZxMG0wOGdqM25ueTcxazE3YnNhIn0.eCxqXHuJrfRcc5sQ82LUCQ" alt=""> -->

    </div>

    <div class="col-lg-4 px-5">
      <h2 class="titlearg pb-2">
        <div class="hr2"></div> Contact
      </h2>
      <div class="text-center">
        <p class="py-2 parg"> <b><a href="tel:0233500343">02 33 50 03 43</a></b> </p>
        <p id="anonyme" class="parg"> Email </p>

        <p class="py-2 parg"> <a href="https://www.facebook.com/maisonmarguery/">FACEBOOK</a></p>

        <!--  <p class="py-2 parg"> <a href="https://www.facebook.com/maisonmarguery/">INSTAGRAM</a></p> -->

        <p class="py-2 parg"> <a href="https://www.facebook.com/maisonmarguery/#">MESSENGER</a></p>

      </div>

    </div>
  </div>


  </nav>
</div>
</div>
{% include map.html %}
