{% include logo.html %}
<div class="navbar navbar-expand-lg navbar-light sticky-top d-flex trans" id="nav1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav "
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-secondary"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/boucherie">Boucherie</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/charcuterie">Charcuterie</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/specialites">Spécialités</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/platsprepares">Plats Préparés</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" style="color:white" href="{{ site.url }}/livraison">Livraison</a>
      </li>
      <!-- <li class="nav-item px-3">
              <a class="nav-link" style="color:white" href="/clickandcollect">Click & Collect</a>
            </li> -->
    </ul>
  </div>
</div>
